@font-face {
	font-family: OpenSansRegular;
	src: url(fonts/OpenSans-Regular.WOFF) format("woff");
}

@font-face {
	font-family: OpenSansSemiBold;
	src: url(fonts/OpenSans-Semibold.WOFF) format("woff");
}

@font-face {
	font-family: OpenSansBold;
	src: url(fonts/OpenSans-Bold.WOFF) format("woff");
}

@font-face {
	font-family: Tenge;
	src: url(fonts/tenge.WOFF) format("woff");
}

* {
	box-sizing: border-box;
}

::-ms-expand {
	display: none;
}

body {
	margin:  0;
	//font-family: Calibri, sans-serif;
}

button {
	cursor: pointer;
}

header {
	line-height: 150px;

	@media all and (max-width: 700px) {
		padding-top: 150px;
	}

	@media all and (max-width: 400px) {
		padding-top: 100px;
	}
}

.currency {
	font-family: Tenge;
}

.slick-dots {
	position: absolute;
	right: 0;
	bottom: 13px;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: none;

	li {
		display: inline-block;
	}

	button {
		width: 12px;
		height: 12px;
		display: block;
		border: 2px solid #fff;
		background-color: transparent;
		font-size: 0;
		color: transparent;
		margin: 0 8px;
		padding: 0;
	}

	.slick-active button {
		background-color: #fff;
	}

	@media all and (max-width: 700px) {
		display: block;
	}
}

.header {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
	display: flex;
	justify-content: center;

	&__logo {
		flex-basis: 272px;
		min-width: 272px;
		height: 150px;
		background: url(imgs/header-logo.png) no-repeat 50% 50%;
	}

	&__nav {
		display: flex;
		flex-basis: 70%;
		padding: 0 10px;

		&-item {
			color: #000;
			text-decoration: none;
			height: 150px;
			font-family: OpenSansRegular;
			flex-basis: 25%;
			text-align: center;

			&_current {
				background-color: #ffcc00;
			}

			&:hover {
				background-color: #f8f8f8;
			}
		}
	}

	&__contacts {
		display: flex;
		justify-content: center;
		flex-direction: column;

		&-link {
			padding-left: 34px;
			background-position: 0 50%;
			background-repeat: no-repeat;
			line-height: 33px;
			color: #000;
			text-decoration: none;
			display: block;
			font-family: OpenSansRegular;

			&:hover {
				text-decoration: underline;
			}
		}

		&-phone {
			background-image: url(imgs/phone-yellow-small.png);
		}

		&-inst {
			background-image: url(imgs/inst-yellow-small.png);
		}
	}

	@media all and (max-width: 900px) {
		&__contacts {
			display: none;
		}
	}

	@media all and (max-width: 700px) {
		justify-content: flex-start;
		background-color: #fff;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;

		&__nav {
			display: none;
		}
	}

	@media all and (max-width: 400px) {
		& {
			height: 100px;
		}

		&__logo {
			background-size: 65vw auto;
			background-position: 0 50%;
			height: 100px;
		}
	}
}

.slider {
	height: 550px;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&__control {
		&-button {
			width: 28px;
			height: 51px;
			padding: 0;
			border: none;
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 1;

			&_prev {
				left: 50%;
				margin: auto auto auto -625px;
				background: url(imgs/arrow-prev-white.png) no-repeat 50% 50%;
			}

			&_next {
				right: 50%;
				margin: auto -625px auto auto;
				background: url(imgs/arrow-next-white.png) no-repeat 50% 50%;
			}
		}
	}

	&__items {
		white-space: nowrap;
		overflow: hidden;
	}

	&__item {
		display: inline-block;
		height: 550px;
		width: 100%;
		position: relative;
		vertical-align: top;

		&-image {
			display: block;
			height: 550px;
			background-position: 50% 50%;
			background-size: cover;

			&_gold {
				background-image: url(imgs/slide-gold.jpg);
			}

			&_tech {
				background-image: url(imgs/slide-tech.jpg);
			}

			&_car {
				background-image: url(imgs/slide-car.jpg);
			}

			&_franch {
				background-image: url(imgs/slide-franch.jpg);
			}

			&_money {
				background-image: url(imgs/slide-money.jpg);
			}
		}
	}

	&__header {
		font-family: OpenSansBold;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 36px;
		position: absolute;
		top: 120px;
		right: 50%;
		margin-right: -585px;
		line-height: 1.1;
		text-align: right;

		&_franch {
			color: #fff;
		}
	}

	&__text {
		font-size: 24px;
		font-family: OpenSansRegular;
		position: absolute;
		top: 233px;
		right: 50%;
		margin-right: -585px;
		text-align: right;

		&_money {
			top: 265px;
		}

		&_franch {
			color: #f8ac27;
			top: 263px;
		}
	}

	&__box {
		background-color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		font-family: OpenSansSemiBold;
		color: #000;
		padding: 28px;
		position: absolute;
		top: 292px;
		right: 50%;
		margin-right: -585px;
		line-height: 1.1;
		width: 380px;
		text-align: right;
	}

	&__button {
		background-color: transparent;
		font-size: 18px;
		font-family: OpenSansSemiBold;
		height: 51px;
		width: 271px;
		border: 2px solid #000;
		color: #000;
		position: absolute;
		right: 50%;
		bottom: 75px;
		margin-right: -585px;
		text-transform: uppercase;
		padding: 0;

		&_white {
			border-color: #fff;
			color: #fff;

			&:hover {
				color: #000;
			}
		}

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;	
		}
	}

	@media all and (max-width: 1200px) {

		&__item-image {
			background-position: 60% 50%;
		}

		&__button,
		&__header,
		&__text,
		&__box {
			margin-right: auto;
			right: 10px;
		}
	}

	@media all and (max-width: 1000px) {
		&__item-image {
			background-position: 80% 50%;
		}
	}

	/*@media all and (max-width: 700px) {
		&__button {
			display: none;
		}
	}*/

	@media all and (max-width: 550px) {

		&__item-image {
			background-position: 50% 50%;

			&_gold {
				background-image: url(imgs/slide-s-yellow.jpg);
			}

			&_tech {
				background-image: url(imgs/slide-s-yellow.jpg);
			}

			&_car {
				background-image: url(imgs/slide-s-yellow.jpg);
			}

			&_franch {
				background-image: url(imgs/slide-s-black.jpg);
			}

			&_money {
				background-image: url(imgs/slide-s-yellow.jpg);
			}
		}

		&__header {
			right: 0;
			left: 0;
			text-align: center;
			top: 82px;
		}

		&__text {
			right: 0;
			left: 0;
			text-align: center;
			top: 191px;

			&_money {
				top: 261px;
			}

			&_franch {
				top: 241px;
			}
		}

		&__box {
			right: 0;
			left: 0;
			margin: auto;
			text-align: center;
			top: 277px;
		}

		&__button {
			right: 0;
			bottom: 60px;
			left: 0;
			margin: auto;
		}
	}

	@media all and (max-width: 400px) {
		&__header {
			font-size: 32px;
		}
		
		&__text {
			width: 100%;
			white-space: normal;
			padding: 0 15px;
		}

		&__box {
			padding: 28px 0;
			width: 100%;
		}
	}

	/*@media all and (max-width: 400px) {
		height: 450px;

		&__item {
			height: 450px;

			&-image {
				height: 450px;
			}
		}
	}*/
}

.slide {
	height: 352px;
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
	overflow: hidden;

	&__box {
		background-color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		font-family: OpenSansSemiBold;
		color: #000;
		padding: 28px;
		position: absolute;
		top: 123px;
		left: 50%;
		margin-left: -585px;
		line-height: 1.1;
		width: 380px;
	}

	&__text {
		color: #000;
		font-family: OpenSansBold;
		position: absolute;
		top: 123px;
		right: 50%;
		margin-right: -590px;
		text-transform: uppercase;
		line-height: 1.1;
		width: 317px;
		text-align: right;

		&-take {
			font-size: 24px;
		}

		&-without {
			font-size: 36px;
		}

		&_franch {
			color: #ffcc00;
			top: 100px;
			text-align: right;
		}
	}

	&__gold {
		background-image: url(imgs/image-gold.jpg);
	}

	&__tech {
		background-image: url(imgs/image-tech.jpg);
	}

	&__car {
		background-image: url(imgs/image-car.jpg);
	}

	&__franch {
		background-image: url(imgs/image-franch.jpg);
	}

	&__button {
		background-color: transparent;
		font-size: 18px;
		font-family: OpenSansSemiBold;
		height: 51px;
		width: 271px;
		border: 2px solid #000;
		color: #000;
		position: absolute;
		right: 50%;
		bottom: 75px;
		margin-right: -585px;
		text-transform: uppercase;
		padding: 0;

		&_white {
			color: #fff;
			border-color: #fff;

			&:hover {
				color: #000;
			}
		}

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;	
		}
	}

	@media all and (max-width: 1200px) {
		background-position: 60% 50%;

		&__button {
			margin-right: auto;
			right: 10px;
		}

		&__box {
			margin-left: auto;
			left: 10px;
		}

		&__text {
			margin-right: auto;
			right: 10px;
		}
	}

	@media all and (max-width: 920px) {
		&__box {
			left: 0;
			right: 0;
			margin: auto;
			top: 10px;
			text-align: center;
		}

		&__text {
			left: 0;
			right: 0;
			margin: auto;
			top: 181px;
			background-color: #fff;
			padding: 20px;
			width: 380px;
			text-align: center;

			&_franch {
				color: #000;
				top: 150px;
			}
		}

		&__button {
			right: 0;
			left: 0;
			margin: auto;
			top: 317px;
		}
	}

	@media all and (max-width: 550px) {
		height: 552px;
		background-position: 50% 50%;

		&__gold {
			background-image: url(imgs/image-gold-s.jpg);
		}

		&__tech {
			background-image: url(imgs/image-tech-s.jpg);
		}

		&__car {
			background-image: url(imgs/image-car-s.jpg);
		}

		&__franch {
			background-image: url(imgs/image-franch-s.jpg)
		}

		&__box {
			top: 168px;
		}

		&__text {
			background-color: transparent;
			top: 345px;

			&_franch {
				color: #ffcc00;
				top: 305px;
			}
		}

		&__button {
			top: auto;
			right: 0;
			left: 0;
			margin: auto;
			bottom: 50px;
		}
	}

	@media all and (max-width: 400px) {
		height: 450px;

		&__box {
			top: 115px;
			width: 100%;
			padding: 28px 0;
		}

		&__text {
			top: 275px;
			width: 100%;

			&-without {
				font-size: 30px;
			}

			&_franch {
				top: 250px;
			}
		}

		&__button {
			bottom: 20px;
		}
	}
}

.why {
	padding: 0 15px;
	overflow: hidden;
	font-family: OpenSansBold;

	&__header {
		text-align: center;
		font-size: 24px;
		font-weight: normal;
		margin: 80px 0 85px;
		text-transform: uppercase;
	}

	&__items {
		padding: 0 15px;
		max-width: 1200px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		padding-top: 124px;
		background-repeat: no-repeat;
		background-position: 50% 0;
		text-align: center;
		flex-basis: 33.33%;
		padding-bottom: 80px;

		&_percent {
			background-image: url(imgs/low-percent.png);
		}

		&_raiting {
			background-image: url(imgs/high-rating.png);
		}

		&_docs {
			background-image: url(imgs/minimum-documents.png);
		}

		&_reg {
			background-image: url(imgs/fast-registration.png);
		}

		&_loyalti {
			background-image: url(imgs/loyalty.png);
		}

		&_attitude {
			background-image: url(imgs/attitude.png);
		}

		&-header {
			font-size: 18px;
			font-weight: normal;
			font-family: OpenSansSemiBold;
		}

		&-text {
			font-size: 15px;
			font-family: OpenSansRegular;
		}
	}

	&__p {
		margin: 0;
		font-size: 15px;
		line-height: 1.1;
	}

	@media all and (max-width: 1000px) {
		&__item {
			flex-basis: 50%;
		}
	}

	@media all and (max-width: 670px) {
		&__item {
			flex-basis: 100%;
		}
	}

	@media all and (max-width: 370px) {
		&__p {
			display: inline;
		}
	}
}

.services {
	overflow: hidden;
	padding-bottom: 90px;
	background-color: #f8f8f8;

	&__header {
		font-size: 24px;
		color: #000;
		font-weight: normal;
		text-align: center;
		margin: 80px 0 94px;
		text-transform: uppercase;
		font-family: OpenSansBold;
	}

	&__items {
		display: flex;
		justify-content: space-around;
		max-width: 1200px;
		margin: auto;
		flex-wrap: wrap;
	}

	&__item {
		flex-basis: 372px;
		height: 502px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		text-align: center;
		padding: 50px 0 42px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		&-header {
			color: #fff;
			font-weight: normal;
		}

		&_gold {
			background-image: url(imgs/gold-background.jpg);
		}

		&_technic {
			background-image: url(imgs/technic-background.jpg);
		}

		&_car {
			background-image: url(imgs/car-background.jpg);
		}
	}

	&__money {
		font-size: 24px;
		display: block;
		font-family: OpenSansRegular;
	}

	&__type {
		font-size: 36px;
		font-family: OpenSansBold;
		text-transform: uppercase;
	}

	&__percent {
		color: #ffcc00;
		font-size: 36px;
		font-weight: normal;
		font-family: OpenSansBold;
	}

	&__link {
		text-decoration: none;
		color: #fff;
		border: 2px solid #fff;
		height: 43px;
		width: 172px;
		line-height: 39px;
		display: inline-block;
		text-transform: uppercase;
		font-family: OpenSansSemiBold;
		margin-top: 20px;

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;
			line-height: 43px;
			color: #000;
		}
	}

	@media all and (max-width: 1116px) {
		&__items {
			padding: 0;
		}

		&__item {
			flex-basis: 100%;
		}
	}

	/*@media all and (max-width: 1000px) {
		&__items {
			flex-direction: column;
		}
	}*/
}

.discounts {
	text-align: center;
	overflow: hidden;

	&__header {
		font-size: 24px;
		font-weight: normal;
		color: #000;
		margin: 80px 0 94px;
		text-transform: uppercase;
		font-family: OpenSansBold;
		padding: 0 15px;
	}

	&__items {
		max-width: 1200px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		flex-basis: 25%;
		background-repeat: no-repeat;
		background-position: 50% 37px;
		background-size: 100%;
		padding: 273px 10px 24px;

		&:hover {
			background-color: #f8f8f8;
		}

		&-header {
			font-size: 18px;
			color: #000;
			font-weight: normal;
			max-width: 220px;
			margin: auto;
			font-family: OpenSansSemiBold;
		}

		&-text {
			font-size: 15px;
			color: #000;
			margin-top: 9px;
			font-family: OpenSansRegular;

			&:after {
				content: '';
				display: block;
				width: 102px;
				height: 4px;
				background-color: #ffcc00;
				margin: 27px auto 25px;
			}
		}

		&-time {
			font-size: 15px;
			color: #000;
			font-family: OpenSansRegular;
		}

		&_active {
			background-image: url(imgs/card-active.png);
		}

		&_friends {
			background-image: url(imgs/card-friends.png);
		}

		&_new {
			background-image: url(imgs/card-new.png);
		}

		&_vip {
			background-image: url(imgs/card-vip.png);
		}
	}

	&__p {
		margin: 0;
	}

	&__button {
		height: 51px;
		width: 372px;
		color: #000;
		border: 2px solid #000;
		padding: 0;
		font-size: 18px;
		background-color: transparent;
		margin: 49px auto 98px;
		text-transform: uppercase;
		font-family: OpenSansSemiBold;

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;
		}
	}

	@media all and (max-width: 1000px) {
		&__items {
			max-width: 600px;
		}

		&__item {
			flex-basis: 50%;
			background-size: auto;
		}
	}

	@media all and (max-width: 600px) {
		&__item {
			flex-basis: 100%;
		}
	}

	@media all and (max-width: 400px) {
		&__button {
			width: 300px;
		}
	}
}

.call {
	text-align: center;
	overflow: hidden;
	background: url(imgs/call-background.jpg) no-repeat 50% 50% / cover;

	&__header {
		font-size: 24px;
		font-weight: normal;
		color: #ffcc00;
		margin: 73px 0 17px;
		font-family: OpenSansBold;
		text-transform: uppercase;
	}

	&__text {
		font-size: 18px;
		color: #fff;
		margin-bottom: 57px;
		font-family: OpenSansRegular;
		padding: 0 15px;
	}

	&__form {
		padding-bottom: 145px;
	}

	&__input {
		display: inline-block;
		font-size: 15px;
		border: 2px solid #fff;
		height: 54px;
		width: 373px;
		margin-right: 28px;
		text-align: left;
		padding: 0 21px;
		background-color: transparent;
		color: #fff;

		&:focus {
			border-color: #ffcc00;
		}

		&::placeholder {
			color: #fff;
		}
	}

	&__button {
		display: inline-block;
		height: 54px;
		width: 373px;
		font-size: 18px;
		color: #000;
		background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
		border: none;
		padding: 0;
		text-transform: uppercase;

		&:hover {
			border: 2px solid #fff;
			background-image: none;
			background-color: transparent;
			color: #fff;
		}

		&:disabled {
			cursor: default;
			background: url(imgs/loader-yellow-circle.gif) no-repeat 0% 50%;
			color: #fff;
			border: none;
		}
	}

	@media all and (max-width: 1200px) {
		&__form {
			padding-bottom: 73px;
		}

		&__input,
		&__button {
			display: block;
			margin: 17px auto 0;
		}
	}

	@media all and (max-width: 400px) {
		&__input,
		&__button {
			width: 300px;
		}
	}
}

.contacts {
	overflow: hidden;

	&__header {
		text-align: center;
		font-size: 24px;
		font-weight: normal;
		text-transform: uppercase;
		margin: 80px 0 50px;
		font-family: OpenSansBold;
		padding: 0 15px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		padding: 0 15px;
		margin: auto;
	}

	&__item {
		color: #000;
		font-size: 18px;
		flex-basis: 25%;
		background-position: 50% 0;
		background-repeat: no-repeat;
		padding-bottom: 62px;
		text-decoration: none;
		padding-top: 65px;
		text-align: center;
		font-family: OpenSansSemiBold;

		&_link:hover {
			text-decoration: underline;
		}

		&_place {
			background-image: url(imgs/point-yellow-mid.png);
		}

		&_phone {
			background-image: url(imgs/phone-yellow-mid.png);
		}

		&_inst {
			background-image: url(imgs/inst-yellow-mid.png);
		}

		&_schedule {
			background-image: url(imgs/schedule-yellow-mid.png);
		}
	}

	@media all and (max-width: 880px) {
		&__items {
			max-width: 550px;
		}

		&__item {
			flex-basis: 50%;
		}
	}

	@media all and (max-width: 550px) {
		&__item {
			flex-basis: 100%;
		}
	}
}

.wares {
	overflow: hidden;
	text-align: center;

	&__header {
		font-size: 24px;
		font-weight: normal;
		margin: 98px 0 76px;
		text-transform: uppercase;
		font-family: OpenSansBold;
		padding: 0 15px;
	}

	&__items {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: auto;
		padding-bottom: 28px;
	}

	&__item {
		flex-basis: 372px;
		background-repeat: no-repeat;
		position: relative;
		margin-bottom: 28px;

		&_jevels > &-images{
			background-image: url(imgs/ware-jevels.jpg);
		}

		&_lom > &-images{
			background-image: url(imgs/ware-lom.jpg);
		}

		&_metals > &-images{
			background-image: url(imgs/ware-metals.jpg);
		}

		&_phones > &-images{
			background-image: url(imgs/phones-background.jpg);
		}

		&_notebooks > &-images{
			background-image: url(imgs/notebooks-background.jpg);
		}

		&_apple > &-images{
			background-image: url(imgs/apple-background.jpg);
		}

		&_playstations > &-images{
			background-image: url(imgs/playstations-background.jpg);
		}

		&_tv > &-images{
			background-image: url(imgs/tv-background.jpg);
		}

		&_other > &-images{
			background-image: url(imgs/other-background.jpg);
		}
	}

	&__item-images {
		background-position: 50% 0;
		background-size: cover;
		position: absolute;
		height: 225px;
		right: 0;
		left: 0;
	}

	&__text {
		color: #fff;
		font-size: 24px;
		position: relative;
		height: 225px;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.7);
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: OpenSansBold;

		&:hover {
			opacity: 1;
		}
	}

	&__p {
		margin: 0;
		text-transform: uppercase;
	}

	&__desc {
		background-color: #ffcc00;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 76px;
	}

	&__money {
		font-size: 18px;
		color: #000;
		font-family: OpenSansRegular;
	}

	&__type {
		font-size: 18px;
		color: #000;
		text-transform: uppercase;
		font-family: OpenSansBold;
	}

	@media all and (max-width: 1150px) {
		&__items {
			width: 792px;
			//justify-content: flex-start;
		}
	}

	@media all and (max-width: 792px) {
		&__items {
			max-width: 372px;
		}

		&__item {
			margin-bottom: 0;
		}
	}

	@media all and (max-width: 390px) {
		&__items {
			display: block;
			width: 100%;
		}
	}
}

.need {
	display: flex;

	&__item {
		height: 400px;
		display: flex;
		flex-basis: 50%;
		flex-direction: column;
		justify-content: center;

		&_background-money {
			background: url(imgs/need-money-background.jpg) no-repeat  50% 50% / cover;
		}

		&_background-car {
			background: url(imgs/need-car-background.jpg) no-repeat 50% 50% / cover;
		}

		&_desc {
			background-color: #f8f8f8;
			padding: 40px 20px 40px 110px;
		}
	}

	&__header {
		font-size: 24px;
		font-weight: normal;
		font-family: OpenSansBold;
		margin: 0;
		text-transform: uppercase;
	}

	&__list {
		margin-top: 25px;

		&-item {
			padding-left: 38px;
			font-size: 18px;
			background-repeat: no-repeat;
			background-position: 0 50%;
			margin: 7px 0;
			line-height: 23px;
			font-family: OpenSansRegular;

			&_18 {
				background-image: url(imgs/18-plus.png);
			}

			&_id {
				background-image: url(imgs/id.png);
			}

			&_jevel {
				background-image: url(imgs/jevel.png);
			}

			&_visit {
				background-image: url(imgs/visit.png);
			}

			&_tech {
				background-image: url(imgs/technic.png);
			}

			&_car {
				background-image: url(imgs/car.png);
			}

			&_passport {
				background-image: url(imgs/tech-passport.png);
			}

			&_ensurance {
				background-image: url(imgs/ensurance.png);
			}

			&_inspection {
				background-image: url(imgs/inspection.png);
			}
		}
	}

	&__button {
		border: 2px solid #000;
		width: 272px;
		height: 51px;
		padding: 0;
		background-color: transparent;
		font-size: 18px;
		text-transform: uppercase;
		font-family: OpenSansSemiBold;
		margin-top: 25px;

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;
		}
	}

	@media all and (max-width: 1000px) {
		&__item_desc {
			padding-left: 50px;
		}
	}

	@media all and (max-width: 900px) {
		&__item {
			flex-basis: 100%;
		}

		&__item_background {
			display: none;
		}
	}

	@media all and (max-width: 550px) {
		&__item {
			height: auto;
		}
	}

	@media all and (max-width: 360px) {
		&__item {
			padding-left: 20px;
		}

		&__button {
			margin: 25px auto 0;
		}
	}
}

.scheme {
	overflow: hidden;
	background-color: #ffcc00;
	text-align: center;
	padding: 0 15px 127px;

	&__header {
		font-size: 24px;
		font-weight: normal;
		margin: 80px 0 72px;
		text-transform: uppercase;
		font-family: OpenSansBold;
	}

	&__items {
		display: flex;
		justify-content: center;
	}

	&__item {
		background-repeat: no-repeat;
		background-position: 50% 0;
		padding-top: 142px;
		flex-basis: 268px;

		&_w {
			flex-basis: 370px;			
		}
		
		&_arrow {
			background: url(imgs/arrow-next-white.png) no-repeat 50% 26px;
			flex-basis: 28px;
		}

		&_rate-gold {
			background-image: url(imgs/rate-gold.png);
		}

		&_hands {
			background-image: url(imgs/hands.png);
		}

		&_contract {
			background-image: url(imgs/contract.png);
		}

		&_wallet {
			background-image: url(imgs/wallet.png);
		}

		&_rate-tech {
			background-image: url(imgs/rate-tech.png);
		}

		&-header {
			margin-bottom: 10px;
			font-size: 18px;
			font-family: OpenSansSemiBold;
		}

		&-text {
			font-size: 15px;
			font-family: OpenSansRegular;
		}
	}

	&__p {
		margin: 0;
		line-height: 1.1;
	}

	@media all and (max-width: 1030px) {
		&__items {
			flex-direction: column;
		}

		&__item {
			flex-basis: auto;

			&_arrow {
				background-image: url(imgs/arrow-down-white.png);
				background-position: 50% 50%;
			}
		}
	}

	@media all and (max-width: 360px) {
		&__p {
			display: inline;
		}
	}
}

.advantages {
	text-align: center;
	overflow: hidden;

	&__header {
		font-size: 24px;
		font-weight: normal;
		margin: 70px 0 79px;
		text-transform: uppercase;
		font-family: OpenSansBold;
		padding: 0 15px;
	}

	&__items {
		max-width: 1200px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		background-repeat: no-repeat;
		flex-basis: 25%;
		padding: 112px 20px 0;
		font-size: 18px;
		font-family: OpenSansSemiBold;
		margin-bottom: 25px;

		&_bids {
			background-image: url(imgs/bids.png);
			background-position: 50% 0;
		}

		&_docs {
			background-image: url(imgs/minimum-documents.png);
			background-position: 50% 0;
		}

		&_pay {
			background-image: url(imgs/pay.png);
			background-position: 50% 0;
		}

		&_calendar {
			background-image: url(imgs/calendar.png);
			background-position: 50% 0;
		}

		&_reg {
			background-image: url(imgs/fast-registration.png);
			background-position: 50% 0;
		}

		&_safe {
			background-image: url(imgs/safe.png);
			background-position: 50% 0;
		}

		&_percent {
			background-image: url(imgs/low-percent.png);
			background-position: 50% 0;
		}
	}

	&__p {
		margin: 0;
	}

	&__button {
		border: 2px solid #000;
		color: #000;
		width: 272px;
		height: 51px;
		background-color: transparent;
		padding: 0;
		font-size: 18px;
		text-transform: uppercase;
		margin: 73px 0 124px;
		font-family: OpenSansSemiBold;

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;
		}
	}

	@media all and (max-width: 800px) {
		&__item {
			flex-basis: 50%;
		}
	}

	@media all and (max-width: 500px) {
		&__item {
			flex-basis: 100%;
		}
	}
}

.safety {
	background-color: #333333;
	overflow: hidden;
	padding-bottom: 80px;

	&__header {
		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
		margin: 80px 0 70px;
		text-align: center;
		font-family: OpenSansBold;
		font-weight: normal;
		padding: 0 15px;
	}

	&__items {
		max-width: 1200px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		padding: 0 15px;
	}

	&__item {
		background-repeat: no-repeat;
		background-position: 50% 0;
		color: #fff;
		padding-top: 135px;
		flex-basis: 33.33%;
		text-align: center;
		font-size: 18px;
		font-family: OpenSansSemiBold;
		margin-bottom: 65px;
		
		&_scales {
			background-image: url(imgs/scales.png);
		}

		&_mask {
			background-image: url(imgs/mask.png);
		}

		&_store {
			background-image: url(imgs/store.png);
		}
	}

	&__p {
		margin: 0;
	}

	@media all and (max-width: 790px) {
		&__item {
			flex-basis: 100%;
		}
	}
}

.rate {
	display: flex;

	&__header {
		font-size: 24px;
		font-weight: normal;
		font-family: OpenSansBold;
		text-transform: uppercase;
		margin: 27px 0 50px;
		padding-left: 114px;
		padding-right: 15px;
	}

	&__item {
		flex-basis: 50%;
		height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-size: 80% auto;
		background-repeat: no-repeat;
		background-position: 80% 50%;

		&_image-avto {
			background-image: url(imgs/rate-background-avto.jpg);
		}

		&_image-tech {
			background-image: url(imgs/rate-background-tech.jpg);
		}
	}

	&__list {
		padding: 15px 115px;

		&-item {
			padding-left: 37px;
			background-repeat: no-repeat;
			background-position: 0 0;
			margin: 27px 0;
			line-height: 23px;
			font-size: 18px;
			font-family: OpenSansSemiBold;

			&_one {
				background-image: url(imgs/one.png);
			}

			&_two {
				background-image: url(imgs/two.png);
			}

			&_three {
				background-image: url(imgs/three.png);
			}

			&_four {
				background-image: url(imgs/four.png);
			}

			&-desc {
				font-family: OpenSansRegular;
			}
		}
	}

	@media all and (max-width: 1000px) {
		display: block;

		&__header {
			padding: 0 15px;
			text-align: center;
		}

		&__item {
			max-width: 400px;
			margin: auto;

			&_image {
				display: none;
			}
		}

		&__list {
			padding: 15px;
			height: auto;
		}
	}
}

.feedback {
	overflow: hidden;
	background-color: #f8f8f8;

	&__header {
		margin: 80px 0 40px;
		font-weight: normal;
		text-transform: uppercase;
		font-family: OpenSansBold;
		text-align: center;
	}

	&__control {
		position: relative;
		max-width: 900px;
		margin: auto;
	}

	&__button {
		width: 40px;
		height: 34px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		position: absolute;
		border: none;
		background-color: transparent;
		top: 18px;
		z-index: 1;

		&_prev {
			background-image: url(imgs/quote-left-yellow.png);
			left: 10px;
		}

		&_next {
			background-image: url(imgs/quote-right-yellow.png);
			right: 10px;
		}
	}

	&__items {
		max-width: 800px;
		margin: auto;
		overflow: hidden;
	}

	&__item {
		min-height: 210px;
		text-align: center;
	}

	&__text {
		font-size: 15px;
		font-family: OpenSansRegular;
		padding: 0 100px;
	}

	&__author {
		font-size: 18px;
		font-family: OpenSansSemiBold;
		margin-top: 20px;
		text-transform: uppercase;
	}

	&__city {
		font-size: 15px;
		font-family: OpenSansRegular;
	}

	&__send {
		border: 2px solid #000;
		width: 273px;
		height: 51px;
		padding: 0;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 18px;
		font-family: OpenSansSemiBold;
		display: block;
		margin: 20px auto 74px;

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;
		}
	}

	@media all and (max-width: 600px) {
		&__text {
			padding: 0 50px;
		}
	}
}

#map {
	overflow: hidden;
	position: relative;
	height: 400px;

	&__mark {
		background-color: #fff;
		display: block;
		height: 34px;
		line-height: 34px;
		width: 350px;
		font-family: OpenSansRegular;
		padding-left: 34px;
		border-radius: 34px 4px 4px 34px;
	}
}


footer {
	background-color: #333333;
}

.footer {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	line-height: 199px;

	&__logo {
		display: inline-block;
		flex-basis: 272px;
		height: 199px;
		text-decoration: none;
		background: url(imgs/footer-logo.png) no-repeat 0 50%;
	}

	&__menu {
		display: flex;
		justify-content: space-around;
		flex-basis: 50%;
		padding: 0 10px;

		&-item {
			text-decoration: none;
			font-size: 16px;
			color: #ffcc00;
			display: inline-block;
			flex-basis: 25%;
			font-family: OpenSansRegular;
			text-align: center;

			&:hover {
				color: #fff;
			}
		}
	}

	&__get-money {
		font-size: 18px;
		color: #ffcc00;
		display: inline-block;
		flex-basis: 272px;
		height: 54px;
		background: #333333;
		border-style: solid;
		border-color: #ffcc00;
		border-width: 3px 2px;
		font-family: OpenSansSemiBold;
		text-transform: uppercase;

		&:hover {
			border: none;
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			color: #000;
		}
	}

	@media all and (max-width: 890px) {
		justify-content: space-between;

		&__menu {
			display: none;
		}
	}

	@media all and (max-width: 670px) {
		padding: 0 10px;

		&__logo {
			height: 108px;
		}
	}

	@media all and (max-width: 620px) {
		&__get-money {
			flex-basis: 100%;
			margin-bottom: 20px;
		}
	}

	@media all and (max-width: 370px) {
		&__logo {
			flex-basis: 100%;
			margin-right: 80px;
			background-size: 100% auto;
		}
	}
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	&__cont {
		overflow: auto;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 3;

		&_feedback {
			display: none;
		}

		&_callback {
			display: none;
		}
	}
	
	&_callback {
		min-height: 500px;
	}

	&_feedback {
		min-height: 662px;
	}

	&__close-div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__inner {
		border-top: 10px solid #ffcc00;
		background-color: #f3f3f3;
		position: relative;
		z-index: 1;
		overflow: hidden;
		padding: 0 18px 18px;

		&_callback {
			flex-basis: 372px;
		}

		&_feedback {
			flex-basis: 570px;
		}
	}

	&__close {
		width: 27px;
		height: 27px;
		border: none;
		padding: 0;
		background: url(imgs/close-yellow.png) no-repeat 50% 50%;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	&__header {
		text-align: center;
		font-size: 24px;
		font-weight: normal;
		font-family: OpenSansBold;
		text-transform: uppercase;
		margin: 43px 0 9px;
	}

	&__text {
		font-size: 15px;
		font-family: OpenSansRegular;

		&_time {
			margin: 27px 0 10px;
		}
	}

	&__name-city {
		display: flex;
		justify-content: space-between;
		margin-top: 24px;
	}

	&__label {
		&_w {
			margin-top: 24px;
			display: block;
		}

		&_comment {
			margin-top: 24px;
		}
	}

	&__label-caption {
		font-size: 15px;
		font-family: OpenSansRegular;
	}

	&__captcha {
		display: flex;
		justify-content: space-between;
		margin-top: 24px;
		margin-bottom: 24px;

		&-text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			font-size: 15px;
			font-family: OpenSansRegular;
		}
	}

	&__input {
		border: 1px solid #999999;
		height: 47px;
		line-height: 45px;
		padding: 0 20px;
		font-size: 15px;
		font-family: OpenSansRegular;

		&_name {
			display: block;
			width: 100%;
		}

		&_phone {
			display: block;
			width: 100%;
		}

		&_captcha {
			flex-basis: 50px;
			display: block;
		}
	}

	&__preselect {
		font-size: 15px;
		font-family: OpenSansRegular;
		line-height: 51px;

		&_from {
			flex-basis: 20px;
		}

		&_to {
			flex-basis: 76px;
			padding-left: 41px;
		}
	}

	&__time {
		display: flex;
	}

	&__select {
		height: 51px;
		border: 1px solid #999999;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		font-size: 15px;
		font-family: OpenSansRegular;
		padding: 0 50px 0 25px;
		background: url(imgs/list-icon.png) no-repeat 89% 50%;
		flex-basis: 122px;
		background-color: #fff;

		& > option {
			font-size: 15px;
			font-family: OpenSansRegular;
		}
	}

	&__textarea {
		border: 1px solid #999999;
		display: block;
		width: 100%;
		resize: none;
		padding: 20px;
	}

	&__button {
		border: 2px solid #000;
		display: block;
		height: 51px;
		color: #000;
		font-size: 18px;
		font-family: OpenSansSemiBold;
		background-color: transparent;
		width: 100%;
		margin-top: 42px;

		&:disabled {
			background: url(imgs/loading-yellow.gif) no-repeat 50% 50%;
			background-size: 100% 100%;
			cursor: default;
		}
	}

	@media all and (max-width: 570px) {
		&__captcha {
			flex-direction: column;
		}

		&__captcha-text {
			order: 1;
		}

		&__input_captcha {
			order: 3;
			width: 154px;
		}

		&__captcha-numbers {
			order: 2;
			width: 154px;
			margin: 24px 0;
		}
	}

	@media all and (max-width: 520px) {
		&__name-city {
			flex-wrap: wrap;
		}

		&__label_name,
		&__label_city {
			flex-basis: 100%;
		}
	}
}

.interesting {
	padding: 98px 0;

	&__items {
		display: flex;
		max-width: 1200px;
		margin: auto;
	}

	&__item {
		flex-basis: 50%;
		height: 402px;

		&_text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 15px;
		}

		&_image {
			background: url(imgs/interesting-background.jpg) no-repeat 50% 50% / cover;
		}
	}

	&__header {
		font-size: 24px;
		font-weight: normal;
		font-family: OpenSansBold;
		text-transform: uppercase;
		margin: 0;
	}

	&__list {
		&-item {
			padding-left: 47px;
			padding-right: 30px;
			margin: 20px 0;
			line-height: 24px;
			background: url(imgs/triange-yellow-small.png) no-repeat 0 0;
			font-size: 15px;
			font-family: OpenSansRegular;
		}
	}

	&__text {
		font-size: 18px;
		font-family: OpenSansSemiBold;
	}

	@media all and (max-width: 1170px) {
		&__item_text {
			flex-basis: 60%;
		}

		&__item_image {
			flex-basis: 40%;
		}
	}

	@media all and (max-width: 960px) {
		&__item_text {
			flex-basis: 100%;
			max-width: 600px;
			height: auto;
			margin: auto;
		}

		&__item_image {
			display: none;
		}
	}


	@media all and (max-width: 600px) {
		&__header {
			text-align: center;
		}

		&__list-item {
			padding: 30px 10px 0;
			background: url(imgs/triange-yellow-small-down.png) no-repeat 50% 0;
		}

		&__text {
			text-align: center;
		}
	}
}

.ensure {
	background-color: #f8f8f8;
	overflow: hidden;

	&__header {
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		font-family: OpenSansBold;
		text-transform: uppercase;
		margin: 81px 0 87px;
	}

	&__items {
		max-width: 1200px;
		margin: auto;
		display: flex;
		padding: 0 10px;
		justify-content: space-between;
		margin-bottom: 45px;
	}

	&__item {
		font-size: 18px;
		font-family: OpenSansSemiBold;
		background-repeat: no-repeat;
		padding: 152px 0 45px;

		&_1 {
			background-image: url(imgs/from-1-million.png);
		}

		&_30 {
			background-image: url(imgs/up-to-30-days.png);
		}

		&_16-32 {
			background-image: url(imgs/16-32-percent.png);
		}

		&_4 {
			background-image: url(imgs/4-month.png);
		}
	}

	@media all and (max-width: 1080px) {
		&__items {
			flex-wrap: wrap;
			max-width: 700px;
		}

		&__item {
			flex-basis: 50%;
		}
	}

	@media all and (max-width: 700px) {
		&__item {
			flex-basis: 100%;
			padding: 152px 15px 45px;
			background-position: 50% 0;
		}

		&__items {
			max-width: 400px;
		}
	}
}

.choose {
	background-color: #ffcc00;
	overflow: hidden;

	&__header {
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		font-family: OpenSansBold;
		text-transform: uppercase;
		margin: 80px 0 58px;
		padding: 0 15px;
	}

	&__items {
		display: flex;
		max-width: 1200px;
		margin: auto;
		justify-content: space-between;
		padding: 0 15px 47px;
	}

	&__item {
		text-align: center;
		padding: 144px 0 47px;
		background-repeat: no-repeat;
		background-position: 50% 0;

		&_gear {
			background-image: url(imgs/gear.png);
		}

		&_bag {
			background-image: url(imgs/bag.png);
		}

		&_brain {
			background-image: url(imgs/brain.png);
		}

		&_shield {
			background-image: url(imgs/shield.png);
		}

		&-header {
			font-size: 18px;
			font-family: OpenSansSemiBold;
			margin-bottom: 15px;
		}

		&-text {
			font-size: 15px;
			font-family: OpenSansRegular;
		}
	}

	&__p {
		margin: 0;
		line-height: 1.2;
	}

	@media all and (max-width: 1080px) {
		&__items {
			flex-wrap: wrap;
			max-width: 600px;
		}

		&__item {
			flex-basis: 50%;
		}
	}

	@media all and (max-width: 600px) {
		&__item {
			flex-basis: 100%;
		}
	}
}

.phrase {
	background-color: #ffcc00;

	&__inner {
		margin: auto;
		max-width: 1200px;
		height: 199px;
		background: url(imgs/phrase-logo.png) no-repeat 15px 50%;
		padding: 0 20px 0 399px;
		display: flex;
		align-items: center;
		font-size: 24px;
		text-transform: uppercase;
		font-family: OpenSansBold;

		@media all and (max-width: 850px) {
			padding-left: 384px;
		}

		@media all and (max-width: 690px) {
			padding: 200px 30px 30px;
			height: auto;
			background-position: 50% 66px;
			text-align: center;
		}
	}

}

.stages {
	background-color: #333333;
	overflow: hidden;

	&__header {
		color: #fff;
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		font-family: OpenSansBold;
		margin: 80px 0 63px;
		text-transform: uppercase;
		padding: 0 15px;
	}

	&__items {
		max-width: 1200px;
		padding: 0 15px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		padding-bottom: 45px;
	}

	&__item {
		background-repeat: no-repeat;
		font-size: 18px;
		font-family: OpenSansSemiBold;
		color: #fff;
		text-align: center;
		padding: 190px 10px 45px;

		&_number {
			background-position: 50% 0;
		}

		&_arrow {
			flex-basis: 28px;
			height: 51px;
			background-image: url(imgs/arrow-next-white.png);
			background-position: 50% 50px;
		}

		&_one {
			background-image: url(imgs/stage1.png);
		}

		&_two {
			background-image: url(imgs/stage2.png);
		}

		&_three {
			background-image: url(imgs/stage3.png);
		}

		&_four {
			background-image: url(imgs/stage4.png);
		}
	}

	&__p {
		margin: 0;
		line-height: 1.2;
	}

	@media all and (max-width: 1050px) {
		&__p {
			display: inline;
		}

		&__item {
			flex-basis: 25%;

			&_arrow {
				display: none;
			}
		}
	}

	@media all and (max-width: 900px) {
		&__items {
			flex-wrap: wrap;
			max-width: 600px;
		}

		&__item {
			flex-basis: 50%;
		}
	}

	@media all and (max-width: 540px) {
		&__items {
			max-width: 350px;
		}

		&__item {
			flex-basis: 100%;
		}
	}
}

.for {
	overflow: hidden;
	padding-bottom: 100px;

	&__header {
		text-align: center;
		font-size: 24px;
		font-weight: normal;
		text-transform: uppercase;
		font-family: OpenSansBold;
		margin: 80px 0 0;
		padding: 0 15px;
	}

	&__text {
		font-size: 18px;
		font-family: OpenSansSemiBold;
		text-align: center;
		text-transform: uppercase;
		padding: 0 15px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 58px auto;
	}

	&__item {
		flex-basis: 33.33%;
		text-align: center;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		&-percent {
			font-size: 48px;
			font-weight: normal;
			font-family: OpenSansBold;
			padding-top: 20px;

			&_70 {
				color: #ffcc00;
			}

			&_50 {
				color: #ffcc00;
			}

			&_90 {
				color: #000;
			}
		}

		&-header {
			font-size: 18px;
			font-family: OpenSansSemiBold;

			&_70 {
				color: #fefefe;
			}

			&_50 {
				color: #fefefe;
			}

			&_90 {
				color: #000;
			}
		}

		&-desc {
			font-size: 15px;
			font-family: OpenSansRegular;
			padding-bottom: 20px;

			&_70 {
				color: #ffcc00;
			}

			&_50 {
				color: #ffcc00;
			}

			&_90 {
				color: #000;
			}
		}

		&_70 {
			background-color: #000;
		}

		&_50 {
			background-color: #333333;
		}

		&_90 {
			background-color: #ffcc00;
		}
	}

	&__image {
		height: 200px;
		background-position: 50% 50%;

		&_70 {
			background-image: url(imgs/for-70.jpg);
		}

		&_90 {
			background-image: url(imgs/for-90.jpg);
		}

		&_50 {
			background-image: url(imgs/for-50.jpg);
		}
	}

	&__p {
		margin: 0;
	}

	@media all and (max-width: 870px) {
		&__items {
			max-width: 400px;
		}

		&__item {
			flex-basis: 100%;
		}
	}

	@media all and (max-width: 600px) {
		&__p {
			display: inline;
		}
	}
}

.adaptive-nav {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	transform: translateZ(0);
	display: none;
	z-index: 3;
	overflow: auto;

	&__item {
		border: none;
		text-decoration: none;
		color: #000;
		font-size: 16px;
		font-family: OpenSansRegular;
		display: block;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background-color: #fff;
		border-top: 1px solid #e4e4e4;
		padding: 0;
		width: 100%;

		&_current {
			background-color: #ffcc00;
		}

		&:hover {
			background-color: #ffcc00;
		}
	}

	&-button {
		position: fixed;
		top: 55px;
		right: 15px;
		width: 50px;
		height: 50px;
		background-image: url(imgs/menu-icon.png);
		background-color: #fff;
		border: none;
		transform: translateZ(0);
		display: none;
		z-index: 2;

		&_active {
			background-image: url(imgs/menu-icon.png), linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
		}

		@media all and (max-width: 700px) {
			& {
				display: block;
			}
		}

		@media all and (max-width: 400px) {
			top: 25px;
		}

		/*&:hover {
			background-image: url(imgs/menu-icon.png), linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
		}*/
	}

	@media all and (max-width: 700px) {
		top: 150px;

		&_showed {
			display: block;
		}
	}

	@media all and (max-width: 400px) {
		top: 100px;
	}
}

.to-top {
	width: 50px;
	height: 50px;
	position: fixed;
	background: #333333 url(imgs/to-top.png) no-repeat 50% 50%;
	right: 15px;
	bottom: 137px;
	border: none;
	transform: translateZ(0);
	z-index: 1;

	@media all and (max-width: 620px) {
		bottom: 100px;
	}
}

.package {
	background-color: #f8f8f8;
	overflow: hidden;
	position: relative;
	padding: 0 45px;

	&__header {
		font-size: 24px;
		font-weight: normal;
		text-transform: uppercase;
		text-align: center;
		font-family: OpenSansBold;
		margin: 76px 0 56px;
		padding: 0 15px;

		&:after {
			content: '';
			display: block;
			width: 100px;
			height: 19px;
			background: url(imgs/triangle-orange.png) no-repeat 50% 50%;
			margin: 22px auto;
		}
	}

	&__control {
		&-button {
			width: 30px;
			height: 52px;
			border: none;
			background-color: transparent;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;

			&_prev {
				background-image: url(imgs/arrow-black-prev.png);
				left: 15px;
			}

			&_next {
				background-image: url(imgs/arrow-black-next.png);
				right: 15px;
			}
		}
	}

	.slick-track {
		display: flex;
	}

	.slick-dots button {
		border-color: #000;
	}

	.slick-dots .slick-active button {
		background-color: #000;
	}

	&__items {
		overflow: hidden;
		max-width: 1290px;
		margin: auto;
		white-space: nowrap;
		position: relative;
	}

	&__item {
		position: relative;
		padding: 0 15px;
		display: flex;
		white-space: normal;

		&-inner {
			background: #fff url(imgs/flag-packet.png) no-repeat 50% 38px;
			padding: 117px 30px 130px;
			position: relative;
			border-top: 5px solid #fff;
			flex-basis: 100%;

			&:hover {
				border-color: #ffcc00;
			}
		}

		&-header {
			font-size: 36px;
			color: #f8ac27;
			font-family: OpenSansBold;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		&-price {
			font-family: Arial, Calibri;
			font-size: 36px;
			color: #000;
			font-weight: bold;
			text-align: center;
		}

		&-text {
			font-size: 16px;
			color: #000;
			font-family: OpenSansRegular;
		}
	}

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 25px 0;

		&-item {
			font-size: 15px;
			color: #000;
			font-family: OpenSansRegular;

			&:before {
				content: '•';
				color: #ffcc00;
				padding-right: 10px;
			}
		}
	}

	&__button {
		border: 2px solid #000;
		display: inline-block;
		width: 202px;
		height: 51px;
		color: #000;
		font-family: OpenSansSemiBold;
		font-size: 18px;
		text-transform: uppercase;
		position: absolute;
		right: 0;
		bottom: 49px;
		left: 0;
		margin: auto;
		background-color: #fff;
		padding: 0;

		&:hover {
			background-image: linear-gradient(to top, #f8ac27, #fcbf21, #ffd11b);
			border: none;
		}
	}

	&__star {
		color: #ffcc00;
		padding-right: 10px;
	}

	&__text {
		font-size: 15px;
		font-family: OpenSansRegular;
		text-align: center;
		max-width: 290px;
		margin: 23px auto 122px;

		&_bold {
			font-family: OpenSansSemiBold;
		}
	}

	@media all and (max-width: 870px) {
		padding: 0;

		&__items {
			padding-bottom: 70px;
		}

		&__control {
			display: none;
		}

		.slick-dots {
			display: block;
		}
	}

	/*@media all and (max-width: 1140px) {
		&__items {
			max-width: 750px;
		}

		&__item {
			min-width: 50%;
		}
	}

	@media all and (max-width: 780px) {
		&__items {
			max-width: 400px;
		}

		&__item {
			min-width: 100%;
		}
	}*/
}